---
layout: default
---

{% include page-intro.html %}
<audio controls="controls" hidden="hidden" autoplay="autoplay" loop="loop">
<source src="assets/music/差不多先生.mp3" type="audio/mpeg" />
</audio>
<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <div class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      <aside class="entry-sidebar">
        {% include author %}
        {% if author_picture %}
          <img class="author-picture" src="{{ author_picture }}" alt="{{ author_name }}">
        {% endif %}
      </aside>
    </div>
  </div>
</main>
